#idEnviar{
	margin-left: 121px;
}
#idFormLogin{
	margin-top: 120px;
	margin-left: 59px;
}
#idLogin{
	margin-left: 10px;
}

#todo{
	color: white;
	font-weight: 900;
	background-image: url(\img/fundo.jpg);	
}

