#idEnviar{
	margin-left: 121px;
}
/*
#idDivFormLogin{
	margin-top: 293px;
	margin-left: 59px;
}*/
#idLogin{
	margin-left: 10px;
}

#todo{
	color: white;
	font-weight: 900;
	background-image: url(\img/fundo.jpg);	
	height: 900px;
	
}

#idDivFormLogin{
	

}
