#idDivFormLancDespesas{
	
	width: 550px;
	margin-top: 39px;
}

#idNrProcesso{
	
	margin-left: 15px;
}
#idNomeCliente{
	margin-left: 43px;
}
#idDataHonorario{
	margin-left: 33px;
}
#idQtdHoras{
	margin-left: 9px;
	width: 20px;
}
#idSelectTipoTarefa{
	margin-left: 114px;
}
#idObs{
	
	margin-left: 71px;
}