#conteudo_top{
	border: 1px solid ;
	width: 596px;
	height: 200px;
	float: right;
	margin-top: 25px;
	
}

#conteudo_bottom{
	border: 1px solid ;
	width: 596px;
	height: 200px;
	float: right;
	margin-top:48px;	
}