ul li{
	border: 1px;
	line-height: 30px;
}

#conteudo_top{
	
	width: 592px;
	height: 200px;
	float: right;
	margin-top:82px;
	
	
}
#conteudo_bottom{
	
	width: 596px;
	height: 389px;;
	float: right;
	margin-top:48px;


	
}
#idDivTitulo{
	position: absolute;
	width: 579px;
	
}
#tabela{
	margin-top: 40px;
	overflow-y : auto;
	height: 350px
}


#idFormListar{
	margin-left: 36px;
	margin-top:33px;
	width: 100%;
	
}

#idNrProcesso{
	width:181px;
}

#idBtnBuscar{
	margin-left: 362px;
}
#idNomeCliente{
	width: 181px;
	margin-left: 27px;
}
table{
	margin:auto;

}

#btnLista{
	/*width: 93px;
	height: 22px;*/
	font-size: 9px;
	text-align:left;
	height: 12px;
	width: 67px;
	
}
#btnCons{
	margin-left: 10px;
	height: 12px;
	width: 79px;
	font-size: 9px;
	text-align: right;
}

#idDivNrProcesso {
	/*border: solid black;*/
	width: 541px;
	height: 48px;
}
#idDivNomeCliente{
	/*border:solid black;*/
	width: 540px;
	height: 53px;
	margin-top: -15px;
}
#campoNomeCliente{
	width: 342px;
	/*border: solid;*/
	float: left;
}
#campoNrProcesso{
	width: 338px;
	/*border: solid;*/
	float: left;
}
#msgNrProcesso{
	width: 137px;
	float: right;
	height: 13px;
}
#msgNomeCliente{
	width: 127px;
	float: right;
	margin-top: 0px;
	height: 15px;
}
