#img-logo{
	width: 90px;
	margin-left: 34px;
	margin-top: 0px;
}

#datah5{
	margin-left: 74px;
	margin-top: 24px;
	width: 222px;
}
#horah5{
	width: 70px;
	float: left;
	height: 31px;
	margin-top: 13px;
}
